{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Проверка внимания
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="my-3">В течение исследования мы будем проверять насколько внимательно вы читаете инструкции.
            </div>
            <div class="my-3">Мы также зададим вам несколько простых проверочных вопросов на понимание.</div>
            <div class="my-3">Если вы не пройдете тест на внимательность или не ответите на проверочные вопросы,
                вы не сможете продолжить исследование.
            </div>
            <div class="my-3">Мы также не сможем заплатить вам плату за участие и полагающийся вам бонус.</div>

        </div>
    </div>
    <div class="text-danger my-3">{% formfield player.attention_agreement label='Я понимаю, что если не пройду тест на внимательность или проверочные вопросы, то я не получу плату за участие и бонус.' %}</div>
    {% next_button %}

{% endblock %}
