{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="text-danger">
                  Завершение исследования
            </h5>
            <div class="card-text">
                <div>
                    К сожалению, вы не прошли тест на внимательность на предыдущей странице.
                </div>
                <div>
                    Вы не сможете принять участие в этом исследовании.
                </div>
                <div>
                    Надеемся увидеть вас в наших других исследованиях!
                </div>
            </div>
        </div>
    </div>


{% endblock %}
