{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Примите решение:
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <div class="my-3">
                На следующей странице вам предстоит принять решение, которое определит размер вашего бонуса, и сумму,
                которую
                мы переведем в Фонд "Подари Жизнь".
            </div>


        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-lg btn-warning">Перейти к принятию решения</button>
    </div>
{% endblock %}
