{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Как мы гарантируем, что мы действительно внесли пожертвования в благотворительный фонд?

{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <div class="my-3">
                В конце исследования вы получите уникальный код.

            </div>
            <div class="my-3">

                После того, как мы соберем данные о решениях всех оставшихся участников, мы переведем общую сумму на
                счет фонда “Подари жизнь”.
            </div>
            <div class="my-3">
                Если в результате ваших решений, эта сумма будет увеличена, то код, полученный вами в конце
                исследования, будет стоять, среди прочих, в квитанции о переводе.

            </div>
            <div class="my-3">

                Скан квитанции будет размещен в интернете, и мы пришлем вам через систему
                сообщений Толока ссылку на него.
            </div>


        </div>
    </div>
    <div class="my-3">
        {% next_button %}</div>

{% endblock %}
