{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

    <span id="attentioncheck">Как мы гарантируем, что мы действительно внесли пожертвования в благотворительный фонд?</span>
{% endblock %}

{% block content %}

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы не прошли тест на внимательность. Прочтите <b>внимательно</b> текст. У вас есть еще одна попытка.
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Я понял</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <script>
        {% if form.errors %}
            $('#staticBackdrop').modal()

        {% endif %}

    </script>
    <div class="card my-3">
        <div class="card-body">

            {% include 'singledonat/includes/nko_block.html'  with attention_checker=True %}

        </div>
    </div>
    <div class="my-3">
        {% next_button %}</div>
    <input type="hidden" name="attention" value="False" id='id_attention'>
    <script>
        $('#attentioncheck').click(function () {
            $('#id_attention').val('True');
            $('#form').submit()
        })
    </script>

{% endblock %}
