{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

    <span id="attentioncheck">Как мы гарантируем, что мы действительно внесли пожертвования в благотворительный фонд?</span>
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">

    {% include 'singledonat/includes/nko_block.html'  with attention_checker=True %}

        </div>
    </div>
    <div class="my-3">
        {% next_button %}</div>
    <input type="hidden" name="attention" value="False" id='id_attention'>
    <script>
        $('#attentioncheck').click(function () {
            $('#id_attention').val('True');
            $('#form').submit()
        })
    </script>

{% endblock %}
