{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Информация о Благотворительном фонде.
{% endblock %}

{% block content %}
    <div class="my-3">
        Во время этого исследования вы приняли решение, которое повлияло на
        размер пожертвования, которое мы переведем в благотворительный фонд “Подари жизнь”.

    </div>
    <div class="my-3">
        «Подари жизнь» — негосударственный благотворительный фонд, созданный с целью помощи детям с
        онкологическими, гематологическими и иными тяжёлыми заболеваниями. Вы можете узнать более подробную
        информацию на <a href="https://podari-zhizn.ru/" target="_blank"> сайте Фонда</a>.
    </div>

    <div class="my-3">
        Мы пришлем вам через систему сообщений Толока ссылку на квитанцию в адрес Фонда.
    </div>
    <div class="my-3">
        Если вы приняли решение, в котором будет
    указан уникальный код, который вы получите в конце исследования
    </div>

    {% next_button %}

{% endblock %}
