<div class="my-3">
    После того как вы ответите на проверочные вопросы вам предстоит принять одно из двух решений:
</div>
<ul>
    <li class="my-3">
        Получить бонус <b>10 центов</b>. В этом случае мы <b>увеличим</b> сумму пожертвований в фонд “Подари
        жизнь” на
        <b>30 центов</b>.
    </li>
    <li class="my-3">
        Получить бонус <b>20 центов</b>. В этом случае мы <b>НЕ</b> увеличим сумму пожертвований в фонд “Подари
        жизнь”.

    </li>
</ul>


<div class="my-3 text-center">Вы получите вашу оплату за участие вне зависимости от того, какое решение вы примете.
</div>