<div class="my-3">
    Во время этого исследования вам необходимо будет принять решение, от которого зависит ваш бонус, а также
    размер пожертвования, которое мы переведем в благотворительный фонд “Подари жизнь”.

</div>
<div class="my-3">
    «Подари жизнь» — негосударственный благотворительный фонд, созданный с целью помощи детям с
    онкологическими, гематологическими и иными тяжёлыми заболеваниями. Вы можете узнать более подробную
    информацию на <a href="https://podari-zhizn.ru/" target="_blank"> сайте Фонда</a>.

</div>