<div class="my-3">
    В конце исследования вы получите уникальный код.

</div>
<div class="my-3">

    После того, как мы соберем данные о решениях всех оставшихся участников, мы переведем общую сумму на
    счет одного  благотворительного фонда.
</div>
<div class="my-3">
    Название Фонда, адрес его сайта, и подробную информацию о нем мы сообщим вам в конце исследования.
</div>

<div class="my-3">
    Если в результате ваших решений эта сумма будет увеличена, то код, полученный вами в конце
    исследования, будет стоять, среди прочих, в квитанции о переводе. Также там будет указана информация о фонде.

</div>
<div class="my-3">

    Скан квитанции будет размещен в интернете, и мы пришлем вам через систему
    сообщений Толока ссылку на него.
    {% if attention_checker|default_if_none:False %}
        Если вы читаете этот текст внимательно, то нажмите на заголовок
        страницы, который начинается со слов "Как мы гарантируем".
    {% endif %}
</div>